body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8f9fa;
      color: #333;
    }
    header {
      background-color: #94c4b6;
      color: white;
      padding: 40px 20px;
      text-align: center;
    }
    section {
      padding: 40px 20px;
      max-width: 800px;
      margin: auto;
      background-color: white;
      margin-top: 20px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    h1, h2 {
      color: #3a6f63;
    }
    ul {
      list-style-type: disc;
      margin-left: 20px;
    }
    footer {
      text-align: center;
      padding: 20px;
      background-color: #94c4b6;
      color: white;
      margin-top: 40px;
    }
    a {
      color: #3a6f63;
      text-decoration: none;
    }
    .img-circular {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 50%;
      margin: 20px auto 10px auto;
      display: block;
      border: 4px solid #3a6f63;
    }